$side-width:180px;
$header_height:64px;

$theme:#4062d8;
$color-primary:#222943;
$color-normal:#4e5469;
$color-sub:#7a7e8e;
$color-border:#D3D4D9;
$color-devide:#eaeaec;
$color-bg:#f8f9f9;
$color-error:#ff4245;
$color-success:#00bf85;
$color-warning:#ff640b;
$color-tip:#faad14;