.body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.header{
    height: $header_height;
    background-color: $theme;
}
.main{
    flex: 1;
    height: 0;
    background-color:$color-bg;
}
.side{
    width: $side-width;
    background-color: $color-primary;
}
.content{
    flex: 1;
    margin: 20px 20px 10px 20px;
}
.wrapper{
    flex: 1;
}
.footer{
    margin-top: 10px;
    width: 100%;
    font-size: 12px;
    color: $color-sub;
    text-align: center;
}
